<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8" />
  <title>AntSword</title>
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'none';img-src data: ant-static: http: https:;script-src ant-static: ant-src: 'unsafe-eval' 'unsafe-inline';style-src ant-static: 'unsafe-inline';font-src ant-static:;worker-src blob:;child-src blob:;frame-src data: http://127.0.0.1:*;connect-src http://127.0.0.1:*">
  <link rel="stylesheet" href="ant-static://css/index.css" />
  <script src="ant-src://load.entry.js"></script>
</head>

<body>
  <div id="loading" class="loading_default"></div>
</body>

</html>